<div class="contenedor">
    <h2 class="text-dark">{{ 'Transport' | translate }}</h2>
    <div class="row">
        <div class="col-xs-12" id="data-container">
            <div style="position:initial;">
            </div>

            <dx-data-grid [repaintChangesOnly]="true" keyExpr="ID" [allowColumnReordering]="false" height="100%" [allowColumnResizing]="true" [columnAutoWidth]="true" [showBorders]="true" [hoverStateEnabled]="true" [dataSource]="data" (onRowInserting)="onRowInserting($event)"
                (onRowUpdating)="onRowUpdating($event)" (onRowPrepared)="onRowPrepared($event)" (onRowUpdated)="onRowUpdated($event)" (onEditorPreparing)="onEditorPreparing($event)" (onEditorPrepared)="onEditorPrepared($event)" (onRowInserted)="onRowInserted($event)"
                (onInitNewRow)="onInitNewRow($event)" (onRowRemoved)="onRowRemoved($event)" (onCellPrepared)="onCellPrepared($event)" (onKeyDown)="onKeyDown($event)" class="dataGridSettings" #gridConfig>
                <!-- 'batch' | 'cell' | 'form' | 'popup' -->
                <dxo-editing mode="cell" [refreshMode]="refreshMode" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true">
                    <dxo-texts [confirmDeleteMessage]="textDeleteConfirm" [deleteRow]="textDeleteRow" [editRow]="textEditRow" [saveRowChanges]="textSaveRow" [cancelAllChanges]="textCancelAllRow" [cancelRowChanges]="textCancelRow">
                    </dxo-texts>
                </dxo-editing>
                <dxo-filter-row [visible]="true" [operationDescriptions]="nameFiltersRow" [resetOperationText]="textFilterReset"></dxo-filter-row>
                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                <dxo-export [enabled]="true" [fileName]="excelTitle"></dxo-export>
                <dxo-paging [pageSize]="100"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="false" [showInfo]="true">
                </dxo-pager>
                <dxo-scrolling mode="standart" showScrollbar="always" [useNative]="true"></dxo-scrolling>
                <dxi-column dataField="ID" [visible]="false" sortOrder="desc" [allowEditing]="false" [allowSorting]="false">
                </dxi-column>
                <dxi-column dataField="IDProvider" [caption]="'Suppliers' | translate" [calculateSortValue]="calculateSortValue">
                    <dxo-lookup [dataSource]="getFilterSuppliers" valueExpr="ID" displayExpr="Name">
                    </dxo-lookup>
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="Code" [caption]="'Code' | translate">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="CarPlate" [caption]="'Plate' | translate">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="Brand" [caption]="'Brand' | translate">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="Year" [caption]="'Year' | translate">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                    <dxi-validation-rule type="numeric"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="TransportType" [caption]="'TransportType' | translate" [calculateSortValue]="calculateSortValue">
                    <dxo-lookup [dataSource]="lstPreservation" valueExpr="code" displayExpr="name">
                    </dxo-lookup>
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="PersonInCharge" [caption]="'Brand' | translate">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="PhonePersonInCharge" [caption]="'Phone' | translate">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                    <dxi-validation-rule type="numeric"></dxi-validation-rule>
                </dxi-column>

                <dxi-column dataField="MailPersonInCharge" [caption]="'E-mail' | translate">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                    <dxi-validation-rule type="email"></dxi-validation-rule>
                </dxi-column>

                <dxi-column dataField="PaymentMeasurement" [caption]="'PaymentMeasurement' | translate" [calculateSortValue]="calculateSortValue">
                    <dxo-lookup [dataSource]="lstUnitMeasure" valueExpr="code" displayExpr="name">
                    </dxo-lookup>
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="PaymentUnity" [caption]="'PaymentUnity' | translate">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                    <dxi-validation-rule type="numeric"></dxi-validation-rule>
                </dxi-column>

                <dxi-column dataField="PaymentValue" [caption]="'Value' | translate" dataType="number" [customizeText]="customizeText">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                    <dxi-validation-rule type="numeric"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="Availability" [caption]="'Active' | translate" dataType="boolean">
                </dxi-column>
            </dx-data-grid>
        </div>
    </div>
</div>