<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dining-rooms" [hidden]="boolTypeUser" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-address-card"></i>&nbsp;
            <span>{{ 'DiningRooms' | translate }}</span>
        </a>
        <a [routerLink]="['/products']" [hidden]="boolTypeUser" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-product-hunt"></i>&nbsp;
            <span>{{ 'Products' | translate }}</span>
        </a>
        <a [routerLink]="['/recipes']" [hidden]="boolTypeUser" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-coffee"></i>&nbsp;
            <span>{{ 'Recipes' | translate }}</span>
        </a>
        <a [routerLink]="['/users']" [hidden]="boolTypeUser" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-users"></i>&nbsp;
            <span>{{ 'Users' | translate }}</span>
        </a>
        <div class="nested-menu" [hidden]="boolTypeUser">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-handshake-o"></i>&nbsp;
                <span>{{ 'Suppliers' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="/supplier/suppliers">
                            <i class="fa fa-handshake-o"></i>&nbsp;
                            <span>{{ 'Suppliers' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/supplier/availability-products">
                            <i class="fa fa-cart-plus"></i>&nbsp;
                            <span>{{ 'AvailabilityProducts' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/supplier/transports">
                            <i class="fa fa-truck"></i>&nbsp;
                            <span>{{ 'Transport' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <a routerLink="/order/preorder" [hidden]="boolTypeUser" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-address-card"></i>&nbsp;
            <span>{{ 'PreOrder' | translate }}</span>
        </a>
        <div class="header-fields">
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>