<div class="contenedor">
    <h2 class="text-dark">{{ 'PreOrder' | translate }}</h2>
    <div class="row">
        <div class="col-xs-12" id="data-container">
            <div style="position:initial;">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ 'DiningRooms' | translate }}</label>
        <div class="col-sm-3">
            <dx-autocomplete [placeholder]="'SelectRoom' | translate" valueExpr="Name" [dataSource]="lstRoom" [(value)]="selectRoom" (onSelectionChanged)="onValueRoom($event)" [showClearButton]="true">
                <div *dxTemplate="let item of 'item'">
                    <span>{{item.Code}} - {{item.Name}}</span>
                </div>
            </dx-autocomplete>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ 'Recipes' | translate }}</label>
        <div class="col-sm-3">
            <dx-autocomplete [placeholder]="'SelectRecipe' | translate" valueExpr="Name" [dataSource]="lsRecipe" [(value)]="selectRecipe" (onSelectionChanged)="onValueRecipe($event)" [showClearButton]="true">
                <div *dxTemplate="let item of 'item'">
                    <span>{{item.Code}} - {{item.Name}}</span>
                </div>
            </dx-autocomplete>
        </div>
    </div>

</div>