<div class="contenedor">
  <h2 class="text-dark">{{ 'Order' | translate }}</h2>
  <div class="row">
    <div class="col-xs-12" id="data-container">
      <div style="position:initial;">
      </div>
       <br>
       &nbsp; <button type="button" class="btn btn-success" (click)="onClickRecharge($event)">{{ 'Recharge' | translate }}</button>
       <br>
       <br>
      <dx-data-grid [repaintChangesOnly]="true" keyExpr="ID" [allowColumnReordering]="false" height="100%"
        [allowColumnResizing]="true" [columnAutoWidth]="true" [showBorders]="true" [hoverStateEnabled]="true"
        [dataSource]="dataDate" class="dataGridSettings" [masterDetail]="{ enabled: true, template: 'detail' }"
        #gridConfigOrder>

        <dxo-filter-row [visible]="true" [operationDescriptions]="nameFiltersRow"
          [resetOperationText]="textFilterReset"></dxo-filter-row>
        <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
        <dxo-paging [pageSize]="100"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="false" [showInfo]="true">
        </dxo-pager>
        <dxo-scrolling mode="standart" showScrollbar="always" [useNative]="true"></dxo-scrolling>
        <dxi-column dataField="ID" [visible]="false" sortOrder="desc" [allowEditing]="false" [allowSorting]="false">
        </dxi-column>
        <dxi-column dataField="IDDiningRoom" [caption]="'DiningRooms' | translate"
          [calculateSortValue]="calculateSortValue">
          <dxo-lookup [dataSource]="lstRoom" valueExpr="ID" displayExpr="Name">
          </dxo-lookup>
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="IDRecipe" [caption]="'Recipes' | translate" [calculateSortValue]="calculateSortValue">
          <dxo-lookup [dataSource]="lsRecipeAll" valueExpr="ID" displayExpr="Name">
          </dxo-lookup>
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="PreOrderDate" [caption]="'Date' | translate" dataType="date" format="yyyy-MM-dd">
        </dxi-column>
        <!--PROVEEDOR-->
        <div *dxTemplate="let historic of 'detail'">
          <div class="card-body table-responsive" *ngIf="TypeSupplier != 1">
            <table class="table">
              <thead class="thead-inverse">
                <tr>
                  <th>{{ 'Code' | translate }}</th>
                  <th>{{ 'Name' | translate }}</th>
                  <th>{{ 'UnitMeasure' | translate }}</th>
                  <th>{{ 'ExpirationDays' | translate }}</th>
                  <th>{{ 'UnitValue' | translate }}</th>
                  <th>{{ 'Quantity' | translate }}</th>
                  <th>{{ 'Cost' | translate }}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of historic.data.IDProduct">
                  <td>{{item.Code}}</td>
                  <td>{{item.Name}}</td>
                  <td>{{assingUnit(item.UnitMeasure)}}</td>
                  <td>{{item.ExpirationDays}}</td>
                  <td>{{item.UnitValue}}</td>
                  <td>{{item.Quantity}}</td>
                  <td>{{item.Cost}}</td>
                  <td>
                    <button class="btn btn-success" (click)="onClickAccept($event,item)"><i class="fa fa-check"></i></button>
                    &nbsp;  
                    <button class="btn btn-danger"(click)="onClickReject($event,item)"><i class="fa fa-close"></i></button>
                  </td>                 
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Totales</td>
                  <td>{{sumQuantity(historic.data.IDProduct)}}</td>
                  <td>{{sumCost(historic.data.IDProduct) | currency:'COP'}}</td>
                  <td></td>
                </tr>
              </tfoot>
            </table>
          </div>
          <!--TRANSPORTE-->
          <div class="card-body table-responsive" *ngIf="TypeSupplier != 0">
            <table class="table">
              <thead class="thead-inverse">
                <tr>
                  <th>{{ 'Code' | translate }}</th>
                  <th>{{ 'Name' | translate }}</th>
                  <th>{{ 'UnitMeasure' | translate }}</th>
                  <th>{{ 'Quantity' | translate }}</th>
                  <th>{{ 'Cost' | translate }}</th>
                  <th>{{ 'Suppliers' | translate }}</th>
                  <th>{{ 'Origin' | translate }}</th>
                  <th>{{ 'Destination' | translate }}</th>
                  <th>{{ 'DurationTour' | translate }}</th>
                  <th>{{ 'DistanceTraveled' | translate }}</th>
                  <th>{{ 'TransportationCost' | translate }}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of historic.data.IDProduct">
                  <td>{{item.Code}}</td>
                  <td>{{item.Name}}</td>
                  <td>{{assingUnit(item.UnitMeasure)}}</td>
                  <td>{{item.Quantity}}</td>
                  <td>{{item.Cost}}</td>
                  <td>{{item.NameProv}}</td>
                  <td>{{item.DurationText}}</td>
                  <td>{{item.DistanceText}}</td>
                  <td>{{item.Origin}}</td>
                  <td>{{item.Destination}}</td>
                  <td>{{item.CostTransport}}</td>
                  <td>
                    <button class="btn btn-success" (click)="onClickAccept($event,item)"><i class="fa fa-check"></i></button>
                    &nbsp;  
                    <button class="btn btn-danger"(click)="onClickReject($event,item)"><i class="fa fa-close"></i></button>
                  </td>                  
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td></td>
                  <td>Totales</td>
                  <td></td>
                  <td>{{sumQuantity(historic.data.IDProduct)}}</td>
                  <td>{{sumCost(historic.data.IDProduct) | currency:'COP'}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>{{sumCostTransport(historic.data.IDProduct) | currency:'COP'}}</td>
                  <td></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </dx-data-grid>

    </div>
  </div>
</div>